.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 100px 100px;
    border: 1px solid black;
    background-color: #ccc;
    gap: 10px;
    padding: 10px;
}

.item {
    border: inherit;
    background-color: green;
    color: white;
    font-size: 20px;;
    display: flex;
    align-items: center;
    justify-content: center;
}